<template>
    <transition name="fade">
        <div v-if="show">
            <slot :id="id" :type="type"></slot>
        </div>
    </transition>
</template>

<script>
    export default {
        /*data() {
            return {
                id: null,
                type: null
            };
        },*/
        props: ['show', 'id', 'type'],
    };
</script>
