<script>
    import 'slick-carousel';

    export default {
        mounted() {
            let $el = $(this.$el);
            let $backgroundSlick = $(this.$refs.backgroundSlick);
            let $slick = $(this.$refs.slick);

            let prevArrow = `<button type="button" class="slick-prev arrow">
                                <svg class="icon icon-slider-left">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="/assets/img/symbol-defs.svg#icon-slider-left"></use>
                                </svg>
                             </button>`;

            let nextArrow = `<button type="button" class="slick-next arrow">
                                <svg class="icon icon-slider-right">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="/assets/img/symbol-defs.svg#icon-slider-right"></use>
                                </svg>
                             </button>`;

            $backgroundSlick.on('init', function (event, slick) {
                $el.on('touchstart mousedown', {
                    action: 'start'
                }, slick.swipeHandler);
                $el.on('touchmove mousemove', {
                    action: 'move'
                }, slick.swipeHandler);
                $el.on('touchend mouseup', {
                    action: 'end'
                }, slick.swipeHandler);
                $el.on('touchcancel mouseleave', {
                    action: 'end'
                }, slick.swipeHandler);
            });

            $backgroundSlick.on('afterChange init', () => {
                this.$blazy.revalidate();
            });

            $backgroundSlick.slick({
                arrows: false,
                asNavFor: $slick,
            });

            $slick.slick({
                prevArrow,
                nextArrow,
                //autoplay: true,
                fade: true,
                asNavFor: $backgroundSlick,
                speed: 500,
                adaptiveHeight: true
            });
        }
    };
</script>
