<template>
    <div></div>
</template>

<script>
    import styles from './styles.json';

    export default {
        methods: {
            getWidth() {
                let w = window,
                    d = document,
                    e = d.documentElement,
                    g = d.getElementsByTagName('body')[0];

                return w.innerWidth || e.clientWidth || g.clientWidth;
            },
            getOffsetX() {
                let width = this.getWidth();

                if (width >= 992) {
                    return 216;
                }

                if(width >=768) {
                    return 100;
                }

                return 0;
            },
            getOffsetY() {
                return 0;
            },
            initialize() {
                var that = this;

                google.maps.Map.prototype.setCenterWithOffset = function (latlng, offsetX, offsetY) {
                    var map = this;
                    var ov = new google.maps.OverlayView();
                    ov.onAdd = function () {
                        var proj = this.getProjection();
                        var aPoint = proj.fromLatLngToContainerPixel(latlng);
                        aPoint.x = aPoint.x + offsetX;
                        aPoint.y = aPoint.y + offsetY;
                        map.setCenter(proj.fromContainerPixelToLatLng(aPoint));
                    };
                    ov.draw = function () {
                    };
                    ov.setMap(this);
                };

                var coord = new google.maps.LatLng(39.177326, -9.355299);

                var options = {
                    center: coord,
                    zoom: 13,
                    scrollwheel: false,
                    disableDoubleClickZoom: true,
                    disableDefaultUI: true,
                    mapTypeId: 'Styled',
                    draggable: true,
                    backgroundColor: 'transparent'
                };

                var map = new google.maps.Map(that.$el, options);

                new google.maps.Marker({
                    position: coord,
                    map: map,
                    icon: '/assets/img/pointer.png'
                });

                var styledMapType = new google.maps.StyledMapType(styles, {name: 'Styled'});

                map.setCenterWithOffset(coord, that.getOffsetX(), that.getOffsetY());
                map.mapTypes.set('Styled', styledMapType);

                google.maps.event.addDomListener(window, 'resize', function () {
                    map.setCenterWithOffset(coord, that.getOffsetX(), that.getOffsetY());
                    map.setOptions({draggable: true});
                });
            }
        },
        mounted() {
            window.initializeGoogleMaps = this.initialize;

            let script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&callback=initializeGoogleMaps&key=AIzaSyBEDaF2lUf8ANyrQ17LCbv9CkL1u0aBWGc';
            document.body.appendChild(script);
        }
    };
</script>
