<template>
    <div class="dragdealer">
        <div class="handle" ref="handle">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    import Dragdealer from 'dragdealer';

    export default {
        props: {
            spy: {
                default: false
            }
        },

        methods: {},

        mounted() {
            let dragdealer = new Dragdealer(this.$el, {
                loose: true
            });

            window.addEventListener('load', () => {
                dragdealer.reflow();

                if(this.spy) {
                    let active = this.$el.querySelector('.active');
                    let subnav = active.parentNode;

                    let init = (active.offsetLeft) / (subnav.clientWidth - this.$el.clientWidth);

                    dragdealer.setValue(init, 0, true);
                }
            });
        }
    };
</script>
