<template>
    <a href="#" @click.prevent='onClick'>
        <slot></slot>
    </a>
</template>

<script>
    export default {
        props: ['images', 'name', 'description', 'index'],

        methods: {
            onClick() {
                this.$gallery.open(this.images, this.name, this.description, this.index);
            }
        }
    };
</script>
