<script>
    import 'slick-carousel';

    export default {
        data() {
            return {
                index: 0
            };
        },

        props: ['images', 'name'],

        mounted() {
            let $slick = $(this.$el);

            let prevArrow = `<button type="button" class="slick-prev arrow">
                                <svg class="icon icon-slider-left">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="/assets/img/symbol-defs.svg#icon-slider-left"></use>
                                </svg>
                             </button>`;

            let nextArrow = `<button type="button" class="slick-next arrow">
                                <svg class="icon icon-slider-right">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="/assets/img/symbol-defs.svg#icon-slider-right"></use>
                                </svg>
                             </button>`;

            $slick.on('afterChange init', () => {
                this.$blazy.revalidate();
            });

            $slick.on('afterChange', (event, slick, currentSlide) => {
                this.index = currentSlide;
            });

            $slick.on('click', '.slick-slide', () => {
                this.$gallery.open(this.images, this.name, this.index);
            });

            $slick.slick({
                prevArrow,
                nextArrow,
                //autoplay: true,
                speed: 500,
            });
        }
    };
</script>
