<template>
    <div class="gallery-modal blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>

        <div class="gallery-modal__caption text-center o-vertical-middle">
            <div class="o-vertical-middle__item w-100">
                <p class="gallery-modal__caption__title ls30">{{ title }}</p>
                <p class="gallery-modal__caption__label italic font-libre-baskerville ls180">{{ description }}</p>
                <p class="gallery-modal__caption__label italic font-libre-baskerville ls180" ref="title"></p>
            </div>


        </div>

        <a class="gallery-modal__arrow prev">
            <svg class="icon icon-slider-left">
                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                     xlink:href="/assets/img/symbol-defs.svg#icon-slider-left"></use>
            </svg>
        </a>
        <a class="gallery-modal__arrow next">
            <svg class="icon icon-slider-right">
                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                     xlink:href="/assets/img/symbol-defs.svg#icon-slider-right"></use>
            </svg>
        </a>

        <div class="fraction-pagination font-libre-baskerville italic ls60 c-white">
            <span>{{ number }}</span>
            <span>{{ total }}</span>
        </div>

        <a class="close" @click="close">
            <svg class="icon icon-close">
                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                     xlink:href="/assets/img/symbol-defs.svg#icon-close"></use>
            </svg>
        </a>
    </div>
</template>

<script>
    import Gallery from 'blueimp-gallery';

    export default {
        data() {
            return {
                gallery: null,
                title: '',
                description: '',
                index: 0,
                total: null
            };
        },

        computed: {
            number() {
                return this.index + 1;
            }
        },

        methods: {
            open(images, title, description, index) {
                this.title = title;
                this.description = description;
                this.total = images.length;
                this.index = index || 0;

                this.gallery = Gallery(images, {
                    container: this.$el,
                    hidePageScrollbars: false,
                    titleElement: this.$refs.title,
                    thumbnailIndicators: false,
                    toggleControlsOnSlideClick: false,
                    index: index,
                    onslide: (index) => {
                        this.index = index;
                    },
                    onclose: () => {
                        this.gallery = null;
                    }
                });
            },

            close() {
                if (!this.gallery) {
                    return;
                }

                this.gallery.close();
            }
        }
    };
</script>
