<template>
        <div class="modal-mask-covid" v-if="showModal" style="">

          <div class="modal-wrapper">
            <div class="modal-container">

              <div class="modal-body-covid row">

                <div class="col-sm-12 text-right p-0">
                <a class="close close-modal-covid" @click="closemodal()"><svg class="icon icon-close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/symbol-defs.svg#icon-close"></use></svg></a>
                </div>
                <div class="col-sm-12 text-left p-0">
                    <a href="/" class="logo-bronzeado"><svg class="icon icon-logo-well"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/symbol-defs.svg#icon-logo-well"></use></svg></a>
                </div>
                <div class="col-sm-5"></div>
                <div class="col-sm-7 corpo-texto p-0">
                  <p class="titulo-bronzeado ls50">
                     <!-- <span class="line-title-covid"></span> -->
                     covid-19
                  </p>
                  <p class="subtitulo-branco ls150">
                      A sua segurança é a nossa prioridade
                  </p>
                  <p class="push-right paragrafo-texto-normal ls25">
                      O Well Hotel adotou um conjunto de medidas que garantem o correto funcionamento de todos os serviços, assim como a segurança e o bem-estar dos nossos hóspedes.
                  </p>
                  <p class="push-right paragrafo-texto-normal ls25">
                      Ainda que as circunstâncias atuais sejam desafiantes, diariamente damos o nosso melhor para que nos continue a visitar sem que a sua saúde fique em risco. A limpeza e higienização de todas as áreas do hotel são realizadas com o maior rigor para que a sua experiência seja a melhor.
                  </p>
                  <p class="push-right paragrafo-texto-normal ls25 ptn-bold">
                      Esperamos por si.
                  </p>
                  <p class="push-right p-saber-mais">
                      <a href="/files/documents/plano_de_continge__ncia_well_hotel.pdf" target="_blank" class="botao-saber-mais btn">
                          Saber mais
                      </a>
                  </p>
                </div>

              </div>

            </div>
          </div>
        </div>
</template>

<script>
export default {
    name: 'modal-covid',
    data() {
        return {
            showModal: true,
        };
    },
    created(){
        document.querySelector('body').style.overflow = this.showModal ? 'hidden' : null;

        var modalCovid = sessionStorage.getItem('modalCovid');

        if (modalCovid) {
            this.closemodal();
        }else{
            sessionStorage.setItem('modalCovid', 1);
        }
    },
    methods: {
        closemodal(){
            this.showModal = false;
           document.querySelector('body').style.overflow = this.showModal ? 'hidden' : null;
        }
    }
}
</script>
