<template>
    <a :href="target" @click.prevent="onClick">
        <slot></slot>
    </a>
</template>

<script>
    import jump from 'jump.js';
    import  EventBus from '../event-bus';

    export default {
        props: ['target'],

        methods: {
            onClick() {
                EventBus.$emit('my-scroll-to.start');

                jump(this.target, {
                    callback: () => {
                        EventBus.$emit('my-scroll-to.end');
                    }
                });
            }
        },
    };
</script>
