<template>
    <nav :class="submenuClasses">
        <slot></slot>
    </nav>
</template>

<script>
    import EventBus from '../event-bus.js';
    import 'waypoints/lib/shortcuts/sticky.min.js';

    const UP = 'up';
    const DOWN = 'down';
    const TOLERANCE = 50;

    export default {
        data() {
            return {
                currentScroll: 0,
                scrollCount: 0,
                direction: null,
                stuck: false,
                hidden: null,
                animated: false,
                enabled: true,
            };
        },
        props: {
            scrollspy: {
                default: false
            },
        },

        computed: {
            submenuClasses() {
                return {
                    'submenu--hidden': this.hidden,
                    'submenu--animate': this.animated,
                    'stuck': this.stuck
                };
            }
        },

        methods: {
            onScroll() {
                this.currentScroll = window.pageYOffset || document.documentElement.scrollTop;
            },

            offsetTop() {
                let rect = this.$el.parentNode.getBoundingClientRect(),
                    scrollTop = window.pageYOffset || document.documentElement.scrollTop;
                return rect.top + scrollTop;
            },

            calculateData(currentScroll, lastScroll) {
                let direction = currentScroll < lastScroll ? UP : DOWN;

                if (direction === this.direction && this.enabled) {
                    this.scrollCount += Math.abs(currentScroll - lastScroll);
                } else {
                    this.scrollCount = 0;
                }

                this.direction = direction;

                if (this.scrollCount > TOLERANCE && this.enabled) {
                    this.hidden = this.direction === UP;

                    EventBus.$emit('my-top-nav.toggle', this.direction === UP || this.currentScroll < this.offsetTop() - (this.$el.clientHeight * 3));
                }
            }
        },

        watch: {
            currentScroll(currentScroll, lastScroll) {
                this.calculateData(currentScroll, lastScroll);
            },
        },

        mounted() {
            let $vm = this;

            this.calculateData();

            new Waypoint.Sticky({
                element: this.$el,
                handler: (direction) => {
                    this.stuck = direction === DOWN;
                }
            });

            new Waypoint({
                element: this.$el.parentNode,
                offset: function () {
                    return -this.element.clientHeight;
                },
                handler: (direction) => {
                    this.animated = direction === DOWN;
                }
            });

            window.addEventListener('scroll', this.onScroll);

            EventBus.$on('my-scroll-to.start', () => this.enabled = false);
            EventBus.$on('my-scroll-to.end', () => {
                this.enabled = true;
                this.scrollTop = 0;
            });

            if (this.scrollspy) {
                let $links = $('.submenu__nav').find('li');

                $links.each(function () {
                    let $that = $(this),
                        hash = $that.attr('data-target'),
                        $element = $(hash);

                    if ($element.length) {
                        new Waypoint({
                            element: $element[0],
                            offset: function () {
                                return $vm.$el.clientHeight;
                            },
                            handler: function (direction) {
                                if (direction === 'down') {
                                    $that.addClass('active');
                                    $links.not($that).removeClass('active');
                                }
                            }
                        });

                        new Waypoint({
                            element: $element[0],
                            offset: function () {
                                return -this.element.clientHeight;
                            },
                            handler: function (direction) {
                                if (direction === 'up') {
                                    $that.addClass('active');
                                    $links.not($that).removeClass('active');
                                }
                            }
                        });
                    }
                });
            }
        }
    };
</script>
