<template>
    <transition name="top-nav">
        <div v-show="showTopNavbar">
            <slot></slot>
        </div>
    </transition>
</template>

<script>
    import EventBus from '../event-bus';

    export default {
        data() {
            return {
                showTopNavbar: true
            };
        },

        mounted() {
            EventBus.$on('my-top-nav.toggle', (show) => {
                this.showTopNavbar = show;
            });
        }
    };
</script>
