<script>
    import 'slick-carousel';

    export default {
        mounted() {
            let $backgroundSlick = $(this.$refs.backgroundSlick);
            let $slick = $(this.$refs.slick);

            let prevArrow = `<button type="button" class="slick-prev arrow">
                                <svg class="icon icon-slider-left">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="/assets/img/symbol-defs.svg#icon-slider-left"></use>
                                </svg>
                             </button>`;

            let nextArrow = `<button type="button" class="slick-next arrow">
                                <svg class="icon icon-slider-right">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="/assets/img/symbol-defs.svg#icon-slider-right"></use>
                                </svg>
                             </button>`;

            let currentMousePos = {x: -1, y: -1};
            let inTransition = false;
            let hoverArrowPrev = false;
            let hoverArrowNext = false;
            let hoverTimeout;

            function sliderHover() {
                let width = $slick.width();

                $('.show-prev, .show-next').removeClass('show-prev show-next');

                if(inTransition) {
                    return;
                }

                if(hoverArrowPrev) {
                    $backgroundSlick.find('.slick-active').prev('.slick-slide').addClass('show-prev');
                    return;
                }

                if(hoverArrowNext) {
                    $backgroundSlick.find('.slick-active').next('.slick-slide').addClass('show-next');
                    return;
                }

                if (currentMousePos.x > (width - (width * 0.50))) {
                    $backgroundSlick.find('.slick-active').next('.slick-slide').addClass('show-next');
                } else if((currentMousePos.x < width * 0.50)) {
                    $backgroundSlick.find('.slick-active').prev('.slick-slide').addClass('show-prev');
                }
            }

            $slick.on('init', function () {
                $slick.find('.slick-list').on('mousemove',function (e) {
                    currentMousePos.x = e.pageX;
                    currentMousePos.y = e.pageY;

                    clearTimeout(hoverTimeout);

                    sliderHover();
                }).on('mouseout', function () {
                    $('.show-prev, .show-next').removeClass('show-prev show-next');
                });

                $backgroundSlick.on('beforeChange', function(e, slick) {
                    inTransition = true;
                    $('.show-prev, .show-next').removeClass('show-prev show-next');

                    hoverTimeout = window.setTimeout(function() {
                        sliderHover();
                    }, slick.options.speed + 50);
                });

                $backgroundSlick.on('afterChange', function() {
                    inTransition = false;
                });

                $('.top-slider__side--left').on('click', function (e) {
                    e.preventDefault();

                    $slick.slick('slickPrev');
                });

                $('.top-slider__side--right').on('click', function (e) {
                    e.preventDefault();

                    $slick.slick('slickNext');
                });

                $('.slick-prev').on('mouseover', function() {
                    $('.show-prev, .show-next').removeClass('show-prev show-next');
                    $backgroundSlick.find('.slick-active').prev('.slick-slide').addClass('show-prev');

                    hoverArrowPrev = true;
                }).on('mouseout', function() {
                    $('.show-prev, .show-next').removeClass('show-prev show-next');

                    hoverArrowPrev = false;
                });

                $('.slick-next').on('mouseover', function() {
                    $('.show-prev, .show-next').removeClass('show-prev show-next');
                    $backgroundSlick.find('.slick-active').next('.slick-slide').addClass('show-next');

                    hoverArrowNext = true;
                }).on('mouseout', function() {
                    $('.show-prev, .show-next').removeClass('show-prev show-next');

                    hoverArrowNext = false;
                });
            });

            $backgroundSlick.on('afterChange init', () => {
                this.$blazy.revalidate();
            });

            $backgroundSlick.slick({
                arrows: false,
                asNavFor: $slick,
                draggable: false,
            });

            $slick.slick({
                prevArrow,
                nextArrow,
                //autoplay: true,
                draggable: false,
                fade: true,
                asNavFor: $backgroundSlick,
                speed: 500,
            });
        }
    };
</script>
