.mask {
    position: absolute;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.mask--20:after {
    background-color: rgba(#1c1c1c, 0.2);
}

.mask--30:after {
    background-color: rgba(#1c1c1c, 0.3);
}

.mask--50:after {
    background-color: rgba(#1c1c1c, 0.5);
}
