.slick-dots {
    line-height: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    > li {
        display: inline-block;

        > button {
            background-color: transparent;
            border: 0;
            display: block;
            outline: 0;
            padding: 0;
            position: relative;
            z-index: 2;
        }
    }
}

.slick-slide:first-child {
    display: block;
    width: 100%;
    float: none;
}

.slick-initialized .slick-slide:first-child {
    float: left;
}

.slick--default {
    .slick-arrow {
        position: absolute;
        z-index: 10;
        bottom: 0;
        right: 0;
        /*border: 0;
        padding: 0;
        outline: 0;
        background-color: #fff;
        font-size: 23px;
        width: 50px;
        height: 50px;
        border-radius: 0;

        @include media-md {
            width: 80px;
            height: 80px;
            font-size: 29px;
        }

        .icon {
            display: block;
            margin: 0 auto;
        }*/
    }

    .slick-prev {
        right: 50px;

        @include media-md {
            right: 80px;
        }
    }
}


