$spacer: 16px !default;
$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2.5),
    6: ($spacer * 3),
) !default;

@mixin generate-spacing($infix: "", $spacers: $spacers) {
    @each $prop, $abbrev in (margin: m, padding: p) {
        @each $size, $length in $spacers {

            .#{$abbrev}#{$infix}-#{$size}  { #{$prop}:        $length !important; }
            .#{$abbrev}t#{$infix}-#{$size} { #{$prop}-top:    $length !important; }
            .#{$abbrev}r#{$infix}-#{$size} { #{$prop}-right:  $length !important; }
            .#{$abbrev}b#{$infix}-#{$size} { #{$prop}-bottom: $length !important; }
            .#{$abbrev}l#{$infix}-#{$size} { #{$prop}-left:   $length !important; }
            .#{$abbrev}x#{$infix}-#{$size} {
                #{$prop}-right: $length !important;
                #{$prop}-left:  $length !important;
            }
            .#{$abbrev}y#{$infix}-#{$size} {
                #{$prop}-top:    $length !important;
                #{$prop}-bottom: $length !important;
            }
        }
    }

    // Some special margin utils
    .m#{$infix}-auto  { margin:        auto !important; }
    .mt#{$infix}-auto { margin-top:    auto !important; }
    .mr#{$infix}-auto { margin-right:  auto !important; }
    .mb#{$infix}-auto { margin-bottom: auto !important; }
    .ml#{$infix}-auto { margin-left:   auto !important; }
    .mx#{$infix}-auto {
        margin-right: auto !important;
        margin-left:  auto !important;
    }
    .my#{$infix}-auto {
        margin-top:    auto !important;
        margin-bottom: auto !important;
    }
}

@include generate-spacing;

@each $breakpoint in map-keys($mq-breakpoints) {
    @include mq($breakpoint) {
        $infix: "-#{$breakpoint}";

        @include generate-spacing($infix);
    }
}
