@mixin text-alignment($align, $from: null, $until: null) {
    @include mq($from, $until) {

        .text-#{$align}#{if($from, "-" + $from + "-up", "")}#{if($until, "-" + $until + "-down", "")} {
            text-align: #{$align};
        }
    }
}

@include text-alignment(left, sm);
@include text-alignment(left, md);
@include text-alignment(left, lg);

@include text-alignment(center, sm);
@include text-alignment(center, md);
@include text-alignment(center, lg);

@include text-alignment(right, sm);
@include text-alignment(right, md);
@include text-alignment(right, lg);
