a, button {
    transition-property: color, background-color, border-color, box-shadow, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
}

.top-nav-enter-active, .top-nav-leave-active {
    transition: transform 0.3s ease-in-out;
}
.top-nav-enter, .top-nav-leave-to /* .fade-leave-active below version 2.1.8 */ {
    transform: translate(100%, 0);
    transform: translate3d(100%, 0, 0);
}
