$font-family-raleway: 'Raleway', sans-serif;
$font-family-libre-baskerville: 'Libre Baskerville', serif;
$font-family-merriweather: 'Merriweather', serif;

@function letter-spacing($pt) {

    @return calc((#{$pt} / 1000)*1em)
}

.wf-active {
    h1, h2, h3, h4, h5, h6 {
        font-family: $font-family-raleway;
    }

    body {
        font-family: $font-family-raleway;
    }

    .font-raleway {
        font-family: $font-family-raleway;
    }

    .font-libre-baskerville {
        font-family: $font-family-libre-baskerville;
    }

    .font-merriweather {
        font-family: $font-family-merriweather;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
}

body {
    font-size: 13px;

    @include media-md {
        font-size: 16px;
    }
}

h1,
.h1 {
    font-size: 25px;

    @include media-md {
        font-size: 49px;
    }
}

h2,
.h2 {
    font-size: 20px;

    @include media-md {
        font-size: 40px;
    }
}

h3,
.h3 {
    font-size: 17px;

    @include media-md {
        font-size: 32px;
    }
}

h4,
.h4 {
    font-size: 13px;

    @include media-sm {
        font-size: 17px;
    }

    @include media-md {
        font-size: 32px;
    }
}

h5,
.h5 {
    font-size: 12px;
    font-weight: 400;

    @include media-md {
        font-size: 23px;
    }
}

h6,
.h6 {
    font-size: 11px;
    font-weight: 500;

    @include media-md {
        font-size: 17px;
    }
}

address {
    line-height: inherit;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.ls25 {
    letter-spacing: 0.025em;
}

.ls30 {
    letter-spacing: 0.03em;
}

.ls50 {
    letter-spacing: 0.05em;
}

.ls60 {
    letter-spacing: 0.06em;
}

.ls70 {
    letter-spacing: 0.07em;
}

.ls100 {
    letter-spacing: 0.1em;
}

.ls130 {
    letter-spacing: 0.13em;
}

.ls150 {
    letter-spacing: 0.15em;
}

.ls180 {
    letter-spacing: 0.18em;
}

.ls200 {
    letter-spacing: 0.2em;
}

.ls300 {
    letter-spacing: 0.3em;
}

.ls550 {
    letter-spacing: 0.55em;
}

.ls600 {
    letter-spacing: 0.6em;
}

.italic {
    font-style: italic;
}

.unordered-list,
.unordered-list-container > ul,
.static-text > ul {
    list-style: none;
    padding: 0;
    line-height: 1.4;

    > li {
        position: relative;
        padding: 0 0 0 10px;
        margin-bottom: 0.8em;

        &:before {
            content: "·\00a0";
            margin-left: -10px;
        }
    }
}

.small-text {
    font-size: 11px;

    @include media-md {
        font-size: 13px;
    }
}

.static-text {
    h1, h2, h3, h4, h5, h6 {
        color: $gray-dark;
    }

    h5 {
        letter-spacing: 0.03em;
        margin-bottom: 0.8em;
    }

    p {
        letter-spacing: 0.025em;
        margin-bottom: 2em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
