.bg-cover {
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

.bg-center {
    background-position: center;
}

.bg-top {
    background-position-y: top;
}

.bg-bottom {
    background-position-y: bottom;
}

.bg-left {
    background-position-x: left;
}

.bg-right {
    background-position-x: right;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overflow-hidden {
    overflow: hidden;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

a.anchor-text {
    color: inherit;
    text-decoration: none;
}

.p-relative {
    position: relative;
}
