@mixin vertical-alignment($align, $from: null, $until: null) {
    @include mq($from, $until) {

        .vertical-#{$align}#{if($from, "-" + $from + "-up", "")}#{if($until, "-" + $until + "-down", "")} {
            vertical-align: #{$align} !important;
        }
    }
}

.vertical-top {
    vertical-align: top !important;
}

.vertical-middle {
    vertical-align: middle !important;
}

.vertical-bottom {
    vertical-align: bottom !important;
}

@include vertical-alignment(top, sm);
@include vertical-alignment(top, md);
@include vertical-alignment(top, lg);

@include vertical-alignment(middle, sm);
@include vertical-alignment(middle, md);
@include vertical-alignment(middle, lg);

@include vertical-alignment(bottom, sm);
@include vertical-alignment(bottom, md);
@include vertical-alignment(bottom, lg);
