.actions-group {
    margin: 0 -4px 0 -4px;

    .btn, .addthis_button_more {
        margin: 4px;

        + .btn, + .addthis_button_more {
            @include media-md {
                margin-left: 12px;
            }
        }
    }
}
