.alert-danger {
    background-color: #DA233A;
    border-color: #DA233A;
    color: #fff;
}

.alert-close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    font-size: 10px;
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
    float: right;
}
