button {
    border-radius: 0;
}

.btn {
    font-size: 10px;
    padding: 12px 16px;
    outline: none !important;

    @include media-md {
        font-size: 13px;
        padding: 16.5px 35px;
    }
}

.btn--animated {
    position: relative;
    transition-duration: 0.5s;

    &:before {
        @include media-md {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scaleX(0);
            transition: transform;
            transform-origin: right center;
            transition-duration: .5s;
            transition-timing-function: cubic-bezier(.6, .15, .4, 1);
        }
    }
}

.btn--animated:hover,
.btn--animated:focus,
.parent-btn:hover .btn--animated,
.parent-btn:focus .btn--animated {
    &:before {
        @include media-md {
            transform-origin: left center;
            transform: scaleX(1);
        }
    }
}

.btn--main {
    color: #333;
    background-color: transparent;
    border-color: $brand-primary;

    &:before {
        @include media-md {
            background-color: $brand-primary;
        }
    }
}

.btn--main:hover,
.btn--main:focus,
.parent-btn:hover .btn--main,
.parent-btn:focus .btn--main {
    color: #333;
    background-color: transparent;
    border-color: $brand-primary;

    @include media-md {
        color: #fff;
    }
}

.btn--main-inverted {
    &,
    &:hover,
    &:focus {
        color: #fff;
        background-color: transparent;
        border-color: $brand-primary;

        @include media-below-md {
            background-color: $brand-primary;
        }
    }

    &:before {
        @include media-md {
            background-color: $brand-primary;
        }

        @include media-md {
            transform: scaleX(1);
            transform-origin: left center;
        }
    }

    &:hover, &:focus {
        &:before {
            @include media-md {
                transform: scaleX(0);
                transform-origin: right center;
            }
        }
    }

    &:hover, &:focus {
        @include media-md {
            color: #333;
        }
    }
}

.btn--white {
    &,
    &:hover,
    &:focus {
        color: #fff;
        border-color: #fff;
        background-color: transparent;
    }

    &:before {
        background-color: #fff;
    }

    &:hover, &:focus {
        @include media-md {
            color: #333;
        }
    }
}

.btn--gray {
    &,
    &:hover,
    &:focus {
        color: #fff;
        background-color: #C3C3C3;
        border-color: #C3C3C3;
    }
}
