.fraction-pagination {
    display: table;
    line-height: 1;

    &:before {
        content: "";
        position: absolute;
        display: block;
        border-top: 1px solid;
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) skewY(-45deg);
    }

    > span {
        display: table-cell;
        width: 50%;

        + span {
            vertical-align: bottom;
            text-align: right;
        }
    }

    &:before {
        content: "";
    }
}
