.line-title {
    &:before {
        content: "";
        position: absolute;
        right: 0;
        border-top: 1px solid;
        top: 50%;
        margin-top: -1px;
        width: 100%;
    }

    &:after {
        content: "\00a0";
        display: block;
        width: 0;
    }
}

.line-title--default {
    position: absolute;
    top: 0;
    right: 100%;
    width: 18px;
    margin: 0 7px;
}
