.main-wrapper {
    padding-left: 25px;
    padding-right: 25px;

    @include media-sm {
        padding-left: 30px;
        padding-right: 30px;
    }

    @include media-md {
        padding-left: 50px;
        padding-right: 50px;
    }

    &.container {
        @include media-sm {
            padding-left: ($grid-gutter-width / 2);
            padding-right: ($grid-gutter-width / 2);
        }
    }
}

/*.main-wrapper__row {
    margin-left: -25px;
    margin-right: -25px;

    @include media-sm {
        margin-left: -30px;
        margin-right: -30px;
    }

    @include media-md {
        margin-left: -50px;
        margin-right: -50px;
    }

    > [class^="col-"],
    > [class*=" col-"] {
        padding-left: 25px;
        padding-right: 25px;

        @include media-sm {
            padding-left: 30px;
            padding-right: 30px;
        }

        @include media-md {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}

.main-wrapper__row-xs {
    @include media-below-sm {
        margin-left: -25px;
        margin-right: -25px;
    }

    > [class^="col-"],
    > [class*=" col-"] {
        @include media-below-sm {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}*/
