.u-row-table-sm {
    @include media-sm {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}

.u-row-table__cell-sm {
    @include media-sm {
        display: table-cell;
        float: none;
        vertical-align: top;
    }
}

.u-row-table-md {
    @include media-md {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}

.u-row-table__cell-md {
    @include media-md {
        display: table-cell;
        float: none;
        vertical-align: top;
    }
}
