.wifi {
    font-size: 11px;

    @include media-md {
        font-size: 15px;
    }

    .icon {
        vertical-align: middle;
        margin-top: -4px;

        @include media-md {
            font-size: 20px;
        }
    }
}

.wifi--top-slider {
    position: absolute;
    bottom: 0;
    right: 100px;
    left: 0;
    z-index: 3;
    line-height: 50px;
    padding: 0 20px;

    @include media-md {
        right: 160px;
        padding-right: 64px;
        line-height: 80px;
    }
}

.wifi--masthead {
    position: absolute;
    bottom: 30px;
    left: 26px;
    line-height: 1;

    @include media-md {
        left: 50px;
        bottom: 40px;
    }
}
