.booking {
    z-index: ($zindex-navbar + 100);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: #C5AA71;
    color: #fff;
}

.booking__form {
    position: relative;
    min-height: 100%;
    padding-bottom: 30px;

    @include media-md {
        padding-bottom: 50px;
    }
}

.booking__close,
a.booking__close {
    position: fixed;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    top: 30px;
    right: 30px;

    @include media-md {
        font-size: 20px;
        margin-right: 15px;
    }
}

.booking__row {
    margin: 0 auto;

    @include media-md {
        max-width: 960px;
    }
}

.booking__form__header {
    background-color: #BBA169;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 12px;
    color: #f2e1c0;

    @include media-md {
        padding-top: 80px;
        padding-bottom: 80px;
        font-size: 15px;
    }
}

.booking__top__label {
    margin-bottom: 40px;

    @include media-sm {
        margin-bottom: 50px;
    }

    @include media-md {
        margin-bottom: 70px;
    }

    .line-title {
        width: 18px;
        margin: 0 7px;
        position: absolute;
        top: 0;
        right: 100%;

        @include media-sm {
            width: 66px;
            margin: 0 16px;
        }

        @include media-md {
            width: 96px;
            margin: 0 22px;
        }
    }
}

.booking__form__products {
    border-bottom: 1px solid #BBA169;
    margin-top: 30px;
    margin-bottom: 40px;

    @include media-md {
        margin-top: 34px;
        margin-bottom: 90px;
    }
}

.booking__form__types {
    margin-bottom: 12px;

    @include media-sm {
        margin-bottom: 0;
        padding-top: 9.5px;
        padding-bottom: 9.5px;
    }

    @include media-md {
        padding-top: 19px;
        padding-bottom: 19px;
        font-size: 14px;
    }

    .radio-inline {
        padding-left: 25px;

        input[type=radio] {
            margin-top: 7px;
            margin-bottom: 7px;
            margin-left: -25px;
        }

        + .radio-inline {
            margin-left: 25px;
        }
    }
}

.booking__form__product {
    @include media-sm {
        display: table;
        margin-left: auto;
    }

    .form-error {
        @include media-sm {
            text-align: right;
        }
    }
}

.booking__form__dates {
    @include media-md {
        width: auto;

        @include clearfix;
    }

    .form-group {
        @include media-md {
            float: left;
        }
    }
}

.booking__form__dates__arrow {
    position: relative;

    @include media-md {
        float: left;
        margin: 64px 25px 0;
        width: 50px;
        line-height: 1;
        text-align: right;
        font-size: 13px;
    }

    .line-title {
        position: absolute;
        top: 0;
        right: 8px;
        left: 0;
    }
}

.booking__form__people {
    @include media-md {
        width: auto;
        margin-left: 10px;
        @include clearfix;
    }

    .form-group {
        @include media-md {
            float: left;
        }

        + .form-group {
            @include media-md {
                margin-left: 30px;
            }
        }
    }
}

.booking__form__price {
    @include media-md {
        width: auto;
        float: right;
    }

    .form-control-static {
        font-size: 22px;
        font-weight: 700;
        padding-top: 6px;
        padding-bottom: 6px;

        @include media-md {
            text-align: right;
            font-size: 30px;
        }

        sup {
            font-size: 14px;
            font-weight: 400;

            @include media-md {
                font-size: 16px;
            }
        }
    }
}

.booking__client {
    margin-top: 14px;
    margin-bottom: 15px;

    @include media-md {
        margin-top: 20px;
        margin-bottom: 45px;
    }

    .form-group {
        margin-bottom: 7px;

        @include media-md {
            margin-bottom: 0;
        }
    }

    .form-control {
        color: #e8d6bf;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 12px;
        border-color: #AD955D;
        @include placeholder(#e8d6bf);

        @include media-md {
            font-size: 15px;
            height: 70px;
            padding: 5px 25px;
        }

        &,
        &:focus {
            background-color: #AD955D;
            box-shadow: none;
        }

        &:focus {
            border-color: #e8d6bf;
        }
    }
}

.booking__actions {
    margin-bottom: 20px;

    .btn {
        @include media-md {
            padding-top: 21.5px;
            padding-bottom: 21.5px;
        }

        &,
        &:focus,
        &:hover {
            color: #BBA169;
            background-color: #fff;
            border-color: #fff;
            box-shadow: none;
        }
    }
}

.booking__footer {
    line-height: 1.66666666666667;
    font-size: 12px;
    margin-top: 30px;

    @include media-md {
        font-size: 15px;
        margin-top: 114px;
    }

    &,
    a {
        color: #725e3b;
    }
}

.booking__message {
    background-color: #BCA16C;
    height: 100%;
    text-align: center;
    margin: 0 auto;

    .o-vertical-middle__item {
        margin: 0 auto;

        @include media-md {
            max-width: 960px;
        }
    }

    &:after {
        min-height: 100%;
    }
}

.booking__message__title {
    margin-bottom: 1.6em;

    @include media-md {
        font-size: 28px;
    }
}

.booking__message__content {
    color: #f2e1c0;
    line-height: 1.93333333333333;
    font-size: 12px;

    @include media-md {
        font-size: 15px;
    }

    a {
        font-weight: 700;
        color: #f2e1c0;
    }
}
