.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;

    @include media-sm {
        float: left;
    }

    + .menu-list {
        @include media-sm {
            margin-left: 50px;
        }
    }

    > li {
        color: #444444;
        position: relative;
        font-weight: 300;
        font-size: 16px;
        margin: 5px 0;
        padding-left: 74px;

        @include media-md {
            font-size: 30px;
            margin: 18px 0;
            padding-left: 210px;
        }

        &:before {
            content: attr(data-index);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            font-size: 10px;
            display: block;
            line-height: 1em;
            margin: auto;
            height: 1em;
            font-weight: 400;
            font-style: italic;

            @include media-md {
                font-size: 14px;
            }
        }

        > a {
            color: #d2d2d2;
            text-decoration: none;
        }

        .line-title {
            position: absolute;
            top: 0;
            left: 0;
            width: 42px;
            margin: 0 16px;

            @include media-md {
                width: 150px;
                margin: 0 35px;
            }
        }
    }

    > .active > a {
        color: $brand-primary;
    }
}

.wf-active .menu-list > li:before {
    font-family: $font-family-libre-baskerville;
}
