.menu-footer {
    display: table;
    width: 100%;
    padding: 0 20px;

    /*position: fixed;
     bottom: 0;
     left: 0;*/

    @include media-md {
        padding: 0 50px;
    }

    &,
    a {
        color: #3f3f3f;
    }

    a {
        text-decoration: none !important;
    }
}

.menu-footer__col {
    display: table-cell;
    vertical-align: middle;

    height: 60px;
    width: percentage(1/2);
    line-height: 1;

    @include media-sm {
        width: percentage(1/3);
        height: 100px;
        vertical-align: bottom;
        padding-bottom: 28px;
    }

    @include media-md {
        height: 120px;
    }
}

.menu-footer__tripadvisor {
    font-size: 50px;

    @include media-md {
        font-size: 68px;
    }

    .icon {
        display: block;
        margin: -4px;
    }
}

.menu-footer__location {
    font-size: 9px;

    @include media-md {
        font-size: 11px;
    }

    .icon {
        display: inline;
        font-size: 17px;
        vertical-align: middle;
        position: relative;

        @include media-below-sm {
            top: -2px;
        }

        @include media-sm {
            display: block;
            margin: 0 auto 0.4em;
        }

        @include media-md {
            font-size: 22px;
        }
    }
}

.menu-footer__social {
    margin: 0;
    font-size: 17px;

    @include media-md {
        font-size: 22px;
    }

    > li {
        padding: 0;

        .icon {
            display: block;
        }
    }
}
