.menu-info {
    &,
    a {
        color: #565656;
    }

    font-size: 11px;

    @include media-md {
        font-size: 14px;
    }

    br {
        @include media-below-md {
            display: none;
        }
    }
}

.menu-info__title {
    color: #7c7c7c;
    margin-bottom: 1.2em;
    font-size: 13px;

    @include media-md {
        font-size: 16px;
    }
}

.menu-info__email {
    font-size: 12px;

    @include media-md {
        font-size: 14px;
    }
}

.menu-info__phone {
    font-size: 15px;

    @include media-md {
        font-size: 16px;
    }

    > a {
        > span {
            color: #9e9e9e;
        }
    }
}
