.menu {

    background-color: #121211;
    //height: 100vh;


    /*position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;*/

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    overflow-y: auto;
    overflow-x: hidden;

}

.menu__body {
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 100px;

    @include media-md {
        padding-top: 197px;
    }
}

.menu__content {
    height: 100%;

    .o-vertical-middle__item {
        padding-top: 50px;
        padding-bottom: 50px;

        @include media-md {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }
}

.menu__footer {
    display: table-row;
    height: 1px;
}
