.menu-info-container {
    @include media-sm {
        width: 720px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @include media-md {
        width: 960px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
