.site-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: $zindex-navbar;
    font-size: 80px;

    @include media-md {
        top: 50px;
        left: 50px;
        font-size: 147px;
    }

    .icon {
        display: block;
    }
}
