.top-nav {
    @include clearfix;

    position: fixed;
    top: 20px;
    right: 0;
    z-index: $zindex-navbar-fixed;
    -webkit-backface-visibility: hidden;

    @include media-md {
        top: 50px;
    }
}

.top-nav__item {
    float: left;

    > a {
        display: block;
        text-decoration: none;

        @include media-md {
        }

        .icon {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

.top-nav__book-now,
a.top-nav__book-now {
    background-color: $brand-primary;
    color: #fff;
    font-size: 24px;
    width: 50px;
    height: 50px;
    position: relative;

    @include media-md {
        width: auto;
        height: auto;
        font-size: 17px;
        line-height: 1;
        padding: 31.5px 36px;
    }
}

.top-nav__menu-toggle,
a.top-nav__menu-toggle {
    width: 50px;
    height: 50px;
    font-size: 15px;
    background-color: #222222;
    color: $brand-primary;
    position: relative;
    outline: none;

    @include media-md {
        width: 80px;
        height: 80px;
        font-size: 24px;
    }
}

.top-nav__languages {
    padding: 0;
    list-style: none;
    margin: 0 20px 0 0;

    @include media-md {
        font-size: 17px;
        margin-right: 40px;
        line-height: 1;
    }

    > li {
        display: inline-block;

        + li {
            margin-left: 10px;

            @include media-md {
                margin-left: 10px;
            }
        }

        > a {
            color: #7c7c7c;
            padding: 12.5px 5px;
            display: block;
            text-decoration: none;

            @include media-md {
                padding: 31.5px 5px;
            }

            &:hover {
                @include media-md {
                    color: $brand-primary;
                }
            }
        }
    }

    > .active {
        > a {
            color: $brand-primary;
        }
    }
}
