.top-slider {
    position: relative;

    .slick {
        height: 100vh;
    }

    .fraction-pagination {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 34px;
        font-size: 10px;

        @include media-md {
            width: 40px;
            height: 46px;
            font-size: 16px;
        }
    }
}

.top-slider__backgrounds {
    position: absolute;

    &,
    .slick-list,
    .slick-track,
    .slick-slide,
    .slick-slide > div {
        height: 100%;
    }

    .slick-slide {
        position: relative;
    }

    .show-prev .top-slider__image {
        @include media-md {
            transform: translate(80px, 0);
        }
    }

    .show-next .top-slider__image {
        @include media-md {
            transform: translate(-80px, 0);
        }
    }

    &.slick-initialized {
        .slick-track > .slick-slide {
            &:not(.slick-active) .top-slider__image {
                z-index: 2;
            }
        }
    }
}

.top-slider__image {
    transition: all .5s cubic-bezier(.07, .68, .2, 1);

    &:after {
        content: "";
        display: block;
        height: 100%;
        background-color: rgba(#1c1c1c, 0.3);
    }
}

.top-slider__side--left,
.top-slider__side--right {
    @include media-md {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 80px;
        z-index: 4;
        cursor: pointer;
        display: block;
    }
}

.top-slider__side--left {
    @include media-md {
        left: 0;
    }
}

.top-slider__side--right {
    @include media-md {
        right: 0;
    }
}

.top-slider__slide {
    position: relative;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;

    &:after {
        min-height: 100vh;
    }
}

.top-slider__slide__content {
    position: relative;
    padding-left: 55px;
    text-align: left;
    max-width: 310px;

    @include media-sm {
        padding-left: 130px;
        width: 400px;
        max-width: none;
    }

    @include media-md {
        padding-left: 256px;
        width: 720px;
    }
}

.slick-active .top-slider__slide__content {
    @include media-sm {
        animation-name: fadeInTopSlider;
        animation-duration: 1s;
        animation-fill-mode: both;
    }
}

.top-slider__slide__title {
    position: relative;
    font-size: 17px;
    line-height: 1.5em;

    @include media-md {
        font-size: 34px;
    }

    .line-title {
        position: absolute;
        top: 0;
        right: 100%;

        @include media-sm {
            margin: 0 20px;
            width: 60px;
        }

        @include media-md {
            margin: 0 40px;
            width: 136px;
        }
    }
}

@keyframes fadeInTopSlider {
    from {
        opacity: 0;
        transform: translate3d(-100px, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
