.amenities-list {
    @include list-unstyled;
    @include clearfix;

    display: table;
}

.amenities-list__item {
    width: 50%;
    float: left;
    color: #494949;
    font-size: 12px;
    padding: 15px;
    line-height: 1.250em;

    @include media-md {
        width: 25%;
    }

    @include media-md {
        width: 180px;
        min-height: 195px;
        //width: 144px;
    }

    @include media-md {
        font-size: 15px;
    }

    .icon {
        font-size: 70px;
        display: table;
        margin: 0 auto 15px;

        @include media-md {
            font-size: 110px;
        }
    }
}

.amenities-list--main {
    max-width: 450px;
    margin: 40px auto 30px;

    @include media-sm {
        max-width: none;
    }

    @include media-lg {
        margin-left: -15px;
        margin-right: 0;
        margin-top: -15px;
    }
}

.amenities-list--room {
    margin: 64px auto;

    @include media-md {
        margin-top: 120px;
        margin-bottom: 0px;
    }
}
