.arrow {
    border: 0;
    padding: 0;
    outline: 0;
    background-color: #fff;
    font-size: 17px;
    width: 50px;
    height: 50px;
    border-radius: 0;
    display: block;
    color: $gray-dark;
    position: relative;

    @include media-md {
        width: 80px;
        height: 80px;
        font-size: 23px;
    }

    .icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}
