.block-type-2 {
    position: relative;
    display: table;
    width: 100%;
}

.block-type-2__body {
    padding-left: 24px;
    padding-right: 24px;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    position: relative;

    @include media-sm {
        padding-left: 40px;
        padding-right: 40px;
    }

    @include media-md {
        padding-left: 64px;
        padding-right: 300px;
        display: block;
        text-align: left;
        width: ($container-md - $grid-gutter-width);
        margin: 0;
    }

    @include media-lg {
        width: ($container-lg - $grid-gutter-width);
        margin: 0;
        padding-right: 450px;;
    }

    &:after {
        @include media-md {
            min-height: 620px;
        }
    }
}

.block-type-2__label {
    margin-bottom: 0.7em;

    @include media-sm {
        margin-bottom: 1.65em;
    }

    .line-title {
        width: 26px;
        position: absolute;
        top: 0;
        left: 100%;
        margin: 0 7px;
        z-index: 1;

        @include media-sm {
            width: 66px;
            margin: 0 16px;
        }

        @include media-md {
            width: 96px;
            margin: 0 22px;
            right: 100%;
            left: auto;
        }
    }
}

.block-type-2__title {
    line-height: 1.469em;
    margin-bottom: 0;

    @include media-sm {
        margin-bottom: 1em;
    }
}

.block-type-2__description--indented,
.block-type-2__actions--indented {
    @include media-md {
        padding-left: 80px;
    }
}

.block-type-2__description {
    margin-bottom: 2em;
}

.block-type-2__object {
    width: 136px;
    height: 136px;
    display: table-cell;
    position: relative;

    @include media-sm {
        width: 50%;
        height: 300px;
    }

    @include media-md {
        position: absolute;
        top: 0;
        left: 50%;
        height: 620px;
        max-width: 50%;
        display: block;
        padding-left: 150px;
    }
}

.block-type-2__object__badge {
    font-size: 11px;
    background-color: $brand-primary;
    color: #fff;
    line-height: 1;
    padding: 14px 5px;
    position: absolute;
    top: 0;
    right: 0;
    letter-spacing: 0.105em;
    z-index: 1;

    @include media-md {
        font-size: 23px;
        padding: 36px 17px;
    }
}

.block-type-2__object__image {
    background-size: cover;
    background-position: center;

    @include media-below-md {
        @include aspect-ratio;
        width: 100%;
    }

    @include media-md {
        width: 620px;
        max-width: 100%;
        height: 100%;
        margin-right: auto;
    }
}
