.block-type-2-item {
    background-color: #f9f9f9;
}

.block-type-2-item--inverted {
    direction: rtl;
    background-color: transparent;

    .block-type-2__body, .block-type-2__object {
        direction: ltr;
    }

    .block-type-2__body {
        text-align: left;

        @include media-md {
            padding-left: 400px;
            padding-right: 64px;
        }

        @include media-lg {
            padding-left: 560px;
        }
    }

    .block-type-2__object {
        @include media-md {
            left: 0;
            padding-left: 0;
            padding-right: 150px;
        }
    }

    .block-type-2__object__image {
        @include media-md {
            margin-right: 0;
            margin-left: 1px;
        }
    }

    .block-type-2__label {
        .line-title {
            left: auto;
            right: 100%;
        }
    }

    .block-type-2__object__badge {
        left: 0;
        right: auto;
    }
}


.two-column{
    a{
        display: flex;
    }

    .titulo-linha::before {
        content: " ";
        position: absolute;
        border-left: 90px solid #bb9a5d;
        left: 0;
        margin-top: 15px;
        height: 1px;
    }

    .right-column{
        padding-top: 90px;
        padding-bottom: 90px;
        position: relative;
        padding-left: 100px;
        padding-right: 100px;

        // @include media-md{
        //     padding-left: 40px;
        //     padding-right: 40px;
        // }

    }

}

@media only screen and(max-width: 992px){
    .two-column{
        .right-column, .left-column{
            width: 50%;
            padding-left: 40px;
            padding-right: 40px;
        }

        .titulo-linha::before {
            content: " ";
            position: absolute;
            border-left: 30px solid #bb9a5d;
            left: -40px;
            margin-top: 5px;
            height: 1px;
        }
    }
}

@media only screen and(min-width: 992px){
    .two-column{
        .left-column{
            //width: 40%;
            width: 533px;
            height: 585px;
        }

        .right-column{
            //width: 60%;
            width: calc(100% - 533px);
        }

        .titulo-linha::before {
            content: " ";
            position: absolute;
            border-left: 120px solid #bb9a5d;
            left: -140px;
            margin-top: 10px;
            height: 1px;
        }
    }
}
