.bottom-slider {
    position: relative;
    overflow: hidden;

    .fraction-pagination {
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: 10px;
        width: 24px;
        height: 30px;
        margin-right: 50px;

        @include media-md {
            font-size: 12px;
            width: 30px;
            height: 36px;
            top: 40px;
            right: 40px;
            margin-right: 80px;
        }
    }
}

.bottom-slider__backgrounds {
    position: absolute;
    margin-right: 50px;
    top: -1px;
    left: 0;
    right: 0;
    bottom: -1px;

    @include media-md {
        margin-right: 80px;
    }

    .slick-list,
    .slick-track,
    .slick-slide,
    .slick-slide > div {
        height: 100%;
    }

    .slick-slide {
        position: relative;
    }
}

.bottom-slider__image {
    &:after {
        content: "";
        display: block;
        height: 100%;
        background-color: rgba(#1C1C1C, 0.2);
    }
}

.bottom-slider__slide {
    padding-top: 100px;
    padding-bottom: 100px;

    @include media-md {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.bottom-slider__slide__content {
    @include media-sm {
        max-width: (450px + $grid-gutter-width);
    }

    @include media-md {
        max-width: (600px + $grid-gutter-width);
    }

    @include media-lg {
        max-width: (860px + $grid-gutter-width);
    }

    @include media-below-sm {
        padding-left: 50px;
        padding-right: 50px;
        max-width: 340px;
        margin-left: 0;
    }
}

.bottom-slider__slide__label {
    position: absolute;
    left: 0;
    top: -50px;

    @include media-sm {
        margin-left: 34px;
    }

    @include media-md {
        top: -96px;
        margin-left: 64px;
    }

    .line-title {
        position: absolute;
        top: 0;
        right: 100%;
        width: 18px;
        margin: 0 7px;

        @include media-sm {
            width: 66px;
            margin: 0 16px;
        }

        @include media-md {
            width: 96px;
            margin: 0 22px;
        }
    }
}

.bottom-slider__slide__title,
a.bottom-slider__slide__title {
    line-height: 1.333em;
    text-decoration: none;
}

.wf-active .bottom-slider__slide__title em {
    font-family: $font-family-libre-baskerville;
}
