.conclusion {
    padding-top: 10px;
    padding-bottom: 60px;

    @include media-md {
        padding-top: 136px;
        padding-bottom: 136px;
    }
}

.conclusion__title {
    margin-bottom: 1.1em;
}

.conclusion__description {
    margin-bottom: 2.8em;
}
