.contact-form {
    .form-group, .alert {
        margin-bottom: 7px;
    }

    .form-control {
        border-color: #EDEDED !important;
        background-color: #EDEDED;
        box-shadow: none !important;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 12px;

        @include media-md {
            font-size: 15px;
            padding: 13.5px 26px;
            height: 60px;
        }
    }

    textarea.form-control {
        height: auto;
    }
}
