.contacts-map {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.contacts-map__object {
    position: absolute;
    top: -24px;
    bottom: -24px;
    left: 0;
    right: 0;

    > div {
        width: 100%;
        height: 100%;
    }
}

.contacts-map__body {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: 20px;
    text-align: center;

    @include media-sm {
        margin-top: -30px;
        left: 50%;
        right: auto;
        text-align: left;
    }
}

.contacts-map__coordinates {
    margin-bottom: 2em;

    .line-title {
        position: absolute;
        top: 0;
        right: 100%;
        width: 40px;
        margin-right: 15px;

        @include media-sm {
            width: 60px;
            margin: 0 20px;
        }

        @include media-md {
            width: 136px;
            margin: 0 40px;
        }
    }
}
