.float-block {
    padding-top: 50px;
    padding-bottom: 50px;

    @include media-md {
        padding-top: 146px;
        padding-bottom: 146px;
    }
}

.float-block__label {
    margin-bottom: 2em;

    @include media-md {
        margin-bottom: 80px;
        margin-left: 64px;
    }

    .line-title {
        width: 18px;
        margin: 0 7px;
        position: absolute;
        top: 0;
        right: 100%;

        @include media-sm {
            width: 66px;
            margin: 0 16px;
        }

        @include media-md {
            width: 96px;
            margin: 0 22px;
        }
    }
}

.float-block__view-all {
    @include media-md {
        position: absolute;
        padding: 0;
        border: 0;
        top: 50%;
        right: 0;
        transform: rotate(-90deg) translate(50%, -100%);
        transform-origin: 100% 0;
        line-height: 1;
    }

    &:hover, &:focus {
        @include media-md {
            color: #333;
        }
    }

    &:active {
        @include media-md {
            box-shadow: none;
        }
    }

    .icon {
        font-size: 10px;
        margin-right: 3px;
    }
}

.float-block--amenities {
    padding-top: 64px;
    padding-bottom: 64px;

    @include media-md {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
