.gallery-modal {
    padding: 80px 0;

    @include media-md {
        padding: 160px 0;
    }

    .close {
        font-size: 15px;
        top: 0;
        right: 0;
        margin: 25px 0 0;
        text-shadow: none;
        opacity: 1;

        @include media-md {
            font-size: 20px;
            margin: 65px 50px 0;
        }

        &,
        &:hover {
            color: #9e9e9e;
        }
    }

    > .slides > .slide-loading {
        background: none;
    }

    > .prev,
    > .next {
        font-size: 21px;
        margin: 0 15px;
        cursor: pointer;
        color: #9e9e9e !important;
        background: transparent;

        width: auto;
        height: auto;
        font-weight: normal;
        border: 0;
        border-radius: 0;
        opacity: 1;
        line-height: 80px;
        top: auto;
        bottom: 0;

        @include media-md {
            margin: 0 50px;
            line-height: 160px;
        }
    }

    > .prev {
        left: 0;
    }

    > .next {
        right: 0;
    }

    .fraction-pagination {
        position: absolute;
        top: 0;
        left: 0;
        color: #9e9e9e;

        font-size: 10px;
        width: 24px;
        height: 30px;
        margin: 40px 15px 0;

        @include media-md {
            font-size: 12px;
            width: 30px;
            height: 36px;
            margin: 80px 50px 0;
        }
    }
}

.gallery-modal__caption {
    color: #9e9e9e;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;

    @include media-md {
        height: 160px;
    }
}

.gallery-modal__arrow,
a.gallery-modal__arrow {

}

.gallery-modal__caption__title {
    font-size: 17px;
    margin: 0;

    @include media-md {
        font-size: 24px;
    }
}

.gallery-modal__caption__label {
    font-size: 10px;
    margin: 0.2em 0 0;

    @include media-md {
        font-size: 13px;
    }
}
