.gallery-slider {
    position: relative;
    margin-right: 50px;

    @include media-md {
        margin-right: 80px;
    }

    &,
    .slick-list,
    .slick-track,
    .slick-slide,
    .slick-slide > div {
        height: 250px;

        @include media-md {
            height: 500px;
        }
    }

    .slick-slide {
        position: relative;
        cursor: pointer;
    }

    .slick-arrow {
        margin-right: -50px;

        @include media-md {
            margin-right: -80px;
        }
    }
}

.gallery-slider__image {
    &:after {
        content: "";
        display: block;
        height: 100%;
        background-color: rgba(#1C1C1C, 0.2);
    }
}





