.text-background-underline {
    background: linear-gradient(0deg,transparent 0,transparent 8px,#c4a971 0,#c4a971 16px,transparent 0,transparent);
}

.coluna1-sustentabilidade{
    margin: 0px; height: 500px; width: calc(100% - 80px); background:url('/files/promotions/sustentabnilidade-fundo.jpeg') no-repeat center; background-size: cover; margin-right: 80px;
    position: relative;

    #titulo-with-line{
        top: 115px;
        margin-left: 100px;
    }

    p#titulo-with-line:before {
        content: " ";
        position: absolute;
        border-left: 120px solid #fff;
        left: -140px;
        margin-top: 10px;
        height: 1px;
    }

    .texto-italico{
        font-style: italic;
        font-weight: 600;
    }
}
.titulo-with-line-general{
    margin-left: 100px;
}

.titulo-with-line-general:before {
    content: " ";
    position: absolute;
    border-left: 120px solid #bb9a5d;
    left: -140px;
    margin-top: 10px;
    height: 1px;
}

.col-12-titulo-normal {
    right: 0px;
    max-width: 800px;
    margin-top: 0px !important;
    padding: 100px;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

@media screen and (max-width: 1300px) and (min-width: 992px) {
    .col-12-titulo-normal{
        margin-top: 80px;
    }
}
.sustentabilida-descricao{
    max-width: 620px;
    margin: 140px auto;

    .botao-mais-centrado{
        margin: auto;
        max-width: 180px;
    }

    .descricao-descricao{
        margin-top: 35px;
        margin-bottom: 35px;
    }
}

//max width

@media screen and (max-width: 768px) {
    .coluna1-sustentabilidade{
        height: 320px;
        position: relative;
        width: calc(100% - 50px);

        #titulo-with-line {
            top: 70px;
        }

        .col-12-titulo-normal {
            margin-left: auto;
            margin-right: auto;
            padding-left: 30px;
            padding-right: 30px;
            text-align: left;
            right: unset;
            margin-top: 160px;
            max-width: 430px;
            position: relative;
            color: #fff;
        }

        .text-background-underline {
            background: linear-gradient(0deg, transparent 0, transparent 4px, #c4a971 0, #c4a971 10px, transparent 0, transparent);
        }

        #titulo-with-line{
            padding-left: 20px;
            padding-right: 20px;

            .line-title {
                width: 18px;
                margin: 0px -8px;
            }
        }
    }

    .sustentabilida-descricao{
        margin: 70px auto;
        .col-sm-12{
            padding-left: 60px;
            padding-right: 60px;
        }
    }
}

// SLIDER COMMENT

.slider-comment{
    #comment-slider-control{
        margin-right: 120px;
    }

    .bottom-slider__slide__label.h6.ls100{
        position: relative;
        top: 40px;
    }

    .bottom-slider__slide{
        padding-top: 100px;
    }

    .u-row-table{
        margin-left: auto;
        max-width: 700px;

        .bottom-slider__slide__title, .data-comentario{
            color: #424242;
        }
    }

    .data-comentario,.comentario-cliente{
        padding-left: 40px;
    }

    @media (max-width: 768px){
        .bottom-slider__slide__content {
            /* padding-left: 50px; */
            padding: 0px;
            /* max-width: 340px; */
            margin: 0;
        }

        .bottom-slider__slide__label.h6.ls100 {
            position: relative;
            top: -20px;
            margin-left: 20px;
        }

        #comment-slider-control {
            margin-right: 30px;
        }

        .comentario-cliente{
            font-size: 11px;
            line-height: 21px;
            color: #9A9A9A;
        }

        .data-comentario{
            font-size: 11px;
            letter-spacing: letter-spacing(100);
            line-height: 40px;
            font-weight: 500;
            font-size: 14px;
        }
    }

}

//last content footer

.footer-info__social-network{
    img{
        height: 30px;
        margin-right: 25px;
    }
}
ul.img-descricao{
    display: contents !important;
}
a.botao-social{
    font-size: 14px !important;
}


.lazer-homepage{
    top: 100px;
    position: absolute;
    margin-left: 100px;
    color: #fff;
}

.lazer-homepage:before{
    content: " ";
    position: absolute;
    border-left: 120px solid #fff;
    left: -140px;
    margin-top: 10px;
    height: 1px;
}

.hotel-cinza-claro{
    background-color: #F5F5F5;
}

.hotel-cinza-escuro{
    background-color: #F0F0F0;
}

.cinza-bem-estar{
    background-color: #f9f9f9;
}
