$introduction-padding: 60px !default;
$introduction-padding-md: 146px !default;

.introduction {
    padding-top: $introduction-padding;
    padding-bottom: $introduction-padding;
    position: relative;

    @include media-sm {
        padding-left: 50%;
    }

    @include media-md {
        padding-top: $introduction-padding-md;
        padding-bottom: $introduction-padding-md;
    }

    @include media-lg {
        padding-right: 60px;
    }
}

.introduction__image-group {
    position: relative;
    padding-right: 12px;
    padding-bottom: 26px;
    margin: 0 auto 34px;
    display: table;

    @include media-sm {
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 282px;
        margin-top: $introduction-padding;
    }

    @include media-md {
        padding-bottom: 56px;
        padding-right: 22px;
        width: 322px;
        margin-top: $introduction-padding-md;
    }

    @include media-lg {
        width: 482px;
    }

    @include media-below-sm {
        padding-left: 20px;
        padding-right: 20px;
    }

    img + img {
        max-width: 50%;
        height: auto;
        position:  absolute;
        right: 0;
        bottom: 0;

        @include media-below-sm {
            margin-right: 20px;
        }
    }
}

.introduction__image-group__link,
a.introduction__image-group__link {
    color: $gray-dark;
    text-decoration: none;

    transition-property: color, background-color, border-color, box-shadow, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    @include media-below-sm {
        position: absolute;
        top: 0;
        right: 0;
        margin: 18px 38px;
    }

    @include media-sm {
        font-size: 10px;
        position: absolute;
        right: 0;
        margin-top: 20px;
        top: 100%;
    }

    @include media-md {
        font-size: 13px;
        margin-top: 40px;
    }

    &:hover {
        @include media-md {
            color: $brand-primary;
        }
    }

    .icon {
        vertical-align: middle;
        position: relative;
        top: -1px;

        @include media-below-sm {
            color: #fff;
            font-size: 15px;
        }
    }
}

.introduction__label, .introduction__title {
    position: relative;

    @include media-sm {
        right: 30px;
    }

    @include media-md {
        right: 68px;
        margin-bottom: 60px !important;
    }
}

.introduction__label {
    margin-bottom: 20px;
    z-index: 1;

    @include media-sm {
        margin-top: 50px;
    }

    @include media-md {
        margin-bottom: 50px;
    }

    .line-title {
        width: 18px;
        margin-right: 7px;
        position: absolute;
        top: 0;
        right: 100%;

        @include media-sm {
            width: 60px;
            margin-right: 16px;
        }

        @include media-md {
            width: 96px;
            margin-right: 22px;
        }
    }
}

.introduction__title {
    margin-bottom: 1.2em;

    @include media-md {
        margin-bottom: 1em;
    }
}

.introduction__description {
    margin-bottom: 2.8em;

    @include media-below-sm {
        padding-left: 20px;
        padding-right: 20px;
    }

    h1,h2,h3,h4,h5,h6 {
        color: $gray-dark;
    }

    h5 {
        margin-top: 2em;
        letter-spacing: 0.03em;
    }

    h6 {
        margin-top: 2em;
        letter-spacing: 0.1em;
    }

    p + p{
        margin-top: 2.2em;
    }
}

//new update

.gallery-above-image{

    a.introduction__image-group:hover{
        text-decoration: none;
    }

   .introduction__image-group {
       position: relative;

    //@include media-md {}
    padding-bottom: 0px;
    padding-right: 22px;
    width: 322px;
    margin-top: 70px;

        .introduction__image-group__link{
            color: #fff;
            position: relative;
        }
    }


}

.detalhes-space{
    padding-top: 146px;
    padding-bottom: 146px;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;

    .introduction__description {
        margin-bottom: 0px;
    }

    .descricao-botoes{
        display: flex;

        a:hover{
            text-decoration: none;
            color: #fff;
        }

        .book-button{
            margin: 30px 8px 0px auto;
        }

        .book-button:hover{
            color:#333;
        }

        .share-button{
            margin: 30px auto 0px 8px;
        }
    }
}


