.masthead {
    position: relative;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;

    &:after {
        min-height: 240px;

        @include media-sm {
            min-height: 340px;
        }

        @include media-md {
            min-height: 470px;
        }
    }

    .fraction-pagination {
        position: absolute;
        top: 0;
        //left: 0;
        // push pagination left
        left: -80px;
        width: 30px;
        height: 34px;
        font-size: 10px;

        @include media-md {
            width: 40px;
            height: 46px;
            font-size: 16px;
        }
    }
}

.masthead--full {
    &:after {
        min-height: 100vh;
        margin-top: -25px;
        margin-bottom: -25px;

        @include media-md {
            margin-top: -40px;
            margin-bottom: -40px;
        }
    }
}

.masthead__background {
    &:after {
        content:"";
        display: block;
        height: 100%;
        background-color: rgba(#1C1C1C,0.3);
    }
}

.masthead__content {
    position: relative;
    padding-left: 55px;
    text-align: left;
    margin-top: 60px;

    @include media-sm {
        padding-left: 130px;
        width: 400px;
    }

    @include media-md {
        padding-left: 156px;
        // padding-left: 256px;
        width: 720px;
    }
}

.masthead__title {
    position: relative;
    line-height: 1.245em;
    margin-bottom: 4px;
    margin-top: -0.245em;

    @include media-md {
        margin-bottom: 15px;
    }

    .line-title {
        position: absolute;
        top: 0;
        right: 100%;
        width: 40px;
        margin-right: 15px;

        @include media-sm {
            width: 60px;
            margin: 0 20px;
        }

        @include media-md {
            width: 136px;
            margin: 0 40px;
        }
    }
}

.masthead__subtitle {
    font-size: 11px;
    line-height: 1.611em;

    @include media-md {
        font-size: 18px;
    }
}

.detalhes-space-pagination{
    position: relative;
    margin-left: auto;

    @include media-sm{
        top: -50px;
        max-width: 100px;
    }

    @include media-md{
        top: -80px;
        max-width: 160px;
    }

    .submenu__arrows:before{
        display: none;
    }
}
