.modal-mask-covid {
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    background: rgba(0, 0, 0, .9);

    .modal-wrapper {

        max-width: 1260px;
        margin-left: auto;
        margin-right: auto;

        .modal-body-covid {
            .text-left {
                left: 50px;
                position: absolute;
            }

            .text-right {
                top: 20px;
                right: 20px;
                position: absolute;
                z-index: 10000;

                a {
                    color: white;
                    font-size: 14px;
                }
            }

            a.logo-bronzeado {
                font-size: 147px;
            }

            .corpo-texto {
                max-width: 940px;
                right: 120px;
                top: 250px;

                //marter titulo e subtitulo a direita
                .titulo-bronzeado,
                .subtitulo-branco {
                    width: 640px;
                    margin-left: auto;
                }

                p.push-right {
                    margin-left: auto;
                    width: 560px;
                }

                .titulo-bronzeado {
                    color: #bb9a5d;
                    font-size: 49px;
                    font-family: $font-family-raleway;
                    font-weight: 300;
                    line-height: 51px;
                    text-transform: uppercase;
                }

                .titulo-bronzeado.ls50::before {
                    content: "";
                    position: absolute;
                    right: 680px;
                    z-index: 10000;
                    border-top: 1px solid;
                    top: 30px;
                    margin-top: -1px;
                    width: 136px;
                }

                // .line-title-covid{}

                .subtitulo-branco {
                    color: #FFFFFF;
                    font-family: 'Libre Baskerville', serif;
                    font-style: italic;
                    font-size: 18px;
                }

                .p-saber-mais,
                .paragrafo-texto-normal {
                    margin-top: 40px;
                    font-size: 16px;
                    font-family: "Raleway", sans-serif;
                    font-weight: 400;
                    line-height: 31px;
                    color: #8B8B8B;
                }

                .ptn-bold {
                    font-weight: bold;
                }

                .p-saber-mais {
                    margin-top: 100px;

                    a {
                        border: 1px solid transparent;
                        border-color: #bb9a5d;
                        color: #FFFFFF;
                        font-family: 'Libre Baskerville', serif;
                        font-size: 12px;
                        letter-spacing: 0.15em;
                    }

                    a:hover {
                        text-decoration: none;
                    }
                }

            }
        }
    }
}

@media (max-width: 768px){

    //prevent body scroll behind modal
    .modal-mask-covid{
        overflow-x: hidden;
        overflow-y: auto;
    }

    .corpo-texto{
        min-height: 100vh;
        overflow-y: auto;
    }

    // .modal-body-covid{
    //     max-height: 90vh;
    //     overflow-y: auto !important;
    // }

    .titulo-bronzeado.ls50::before {
        left: 0;
        top: 15px !important;
        width: 36px !important;
    }

    a.logo-bronzeado {
        font-size: 80px !important;
    }

    .corpo-texto{

        max-width: 768px !important;
        width: 100%;
        right: inherit !important;
        top: 150px !important;
        position: relative;

        .titulo-bronzeado {
            letter-spacing: letter-spacing(50);
            line-height: 32px !important;
            font-size: 25px !important;
        }

        .subtitulo-branco {
            font-size: 17px !important;
            line-height: 25px;
            letter-spacing: letter-spacing(150);
        }

        .titulo-bronzeado, .subtitulo-branco {
            width: 100% !important;
            margin-left: inherit !important;
            padding-left: 50px;
        }

        .paragrafo-texto-normal{
            margin-top: 30px !important;
            font-size: 13px !important;
            letter-spacing: letter-spacing(25);
            line-height: 25px !important;
        }

        .ptn-bold {
            font-weight: normal !important;
        }

        .p-saber-mais {
            margin-top: 30px !important;
            padding: 0px !important;
            margin-left: auto !important;
            margin-right: auto;
            max-width: 120px;
        }

        p.push-right {
            width: 100% !important;
            padding: 0px 70px;
        }

    }

}
