.pack {
    position: relative;
    margin: 0 auto;
    display: table;
    width: 100%;

    @include media-sm {
        width: 600px;
    }

    @include media-md {
        width: 800px;
    }

    @include media-lg {
        width: 960px;
    }
}

.pack__body {
    position: relative;
    padding-left: 24px;
    padding-right: 24px;
    text-align: right;
    display: table-cell;
    vertical-align: middle;

    @include media-sm {
        right: 40px;
        padding-left: 0;
        padding-right: 0;
    }

    @include media-md {
        right: 50px;
    }

    @include media-lg {
        right: 80px;
    }
}

.pack__label {
    margin-bottom: 8px;

    @include media-md {
        margin-bottom: 28px;
    }

    .line-title {
        width: 26px;
        position: absolute;
        top: 0;
        left: 100%;
        margin: 0 7px;
        z-index: 1;

        @include media-sm {
            width: 40px;
            margin: 0 14px;
        }

        @include media-md {
            width: 54px;
            margin: 0 14px;
        }

        @include media-lg {
            width: 90px;
        }
    }
}

.pack__title {
    line-height: 1.469em;
    margin-bottom: 0;

    @include media-sm {
        margin-bottom: 20px;
    }

    @include media-md {
        margin-bottom: 30px;
    }
}

.pack__image {
    width: 136px;
    height: 136px;
    display: table-cell;
    position: relative;

    @include media-sm {
        width: 50%;
        height: 300px;
    }

    @include media-lg {
        height: 400px;
    }

    @include media-lg {
        height: 480px;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.pack__image__badge {
    font-size: 11px;
    background-color: $brand-primary;
    color: #fff;
    line-height: 1;
    padding: 14px 5px;
    position: absolute;
    top: 0;
    right: 0;
    letter-spacing: 0.105em;

    @include media-md {
        font-size: 23px;
        padding: 36px 17px;
    }
}

// css adega mae

.adega-mae-container{
    margin: 0px;
    padding: 0px !important;
    width: 100%;
    margin-top: -81px;

    .row{
        display: flex;
        margin: 0px;
    }

    .adega-mae-box-esquerda{
        width: 66.617%;
        margin: 100px;
        margin-left: 180px;
        text-align: left;
    }

    .adega-mae-box-direita{
        width: calc(100% - 66.617%);
        background-color: #f9f9f9;

        .adega-mae{
            background-color: #f9f9f9;
            background: url('/files/gallery-image/logotipo_adega_mae.png') no-repeat;
            height: 100%;
            width: 100%;
            margin-top: 120px;
            background-position: top;
            right: 0px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .eventos-direita{
        padding: 110px;
        padding-top: 136px;
        width: calc(100% - 60.98%);
        background-color: #f9f9f9;

        ul{
            padding: 20px;

            li{
                list-style: none;
            }

            li:before{
                content: "\B7\A0";
                margin-left: -10px;
            }
        }

        .titulo-linha::before {
            content: " ";
            position: absolute;
            border-left: 90px solid #bb9a5d;
            left: -110px;
            margin-top: 10px;
            height: 1px;
        }
    }

    .eventos-esquerda{
        width: 60.98%;
        margin-left: 190px;
        margin-right: 110px;
    }


}



@media only screen and (max-width: 1100px) {
    .adega-mae{
        background-size: contain !important;
    }
}

// css eventos request proposal
.container-events{
    margin: 0px;
    position: relative;

    .booking-title-rental{
        margin-left: 110px;
    }

    .booking-title-rental:before{
        content: " ";
        position: absolute;
        border-left: 100px solid #fff;
        left: -120px;
        margin-top: 10px;
        height: 1px;
    }

}

.coluna-select--eventtype{
    top: -100px;
    position: relative;
}

.coluna-event-description-form textarea{
    width: 100%;
    background-color: #AD955D;
    border: none;
}

.booking-voucher-label{
    font-size: 25px;
}

