.pack-list-item {
    background-color: #f9f9f9;

    @include media-sm {
        background: linear-gradient(to right, $gray-lighter 50%, transparent 50%);
    }

    .pack__title{
        max-width: 470px;
        margin-left: auto;
    }
}

.pack-list-item--inverted {
    direction: rtl;

    .pack__title{
        max-width: 470px;
        margin-left: unset;
        margin-right: auto;
    }

    @include media-sm {
        background: linear-gradient(to right, transparent 50%, $gray-lighter 50%);
    }

    .pack__body, .pack__image {
        direction: ltr;
    }

    .pack__body {
        text-align: left;

        @include media-sm {
            right: -40px;
        }

        @include media-md {
            right: -50px;
        }

        @include media-lg {
            right: -80px;
        }
    }

    .pack__label {
        .line-title {
            left: auto;
            right: 100%;
        }
    }

    .pack__image__badge {
        left: 0;
        right: auto;
    }
}

.pack-experience-title{

    margin: 140px 100px 100px 100px;

    .titulo-linha::before {
        content: " ";
        position: absolute;
        border-left: 120px solid #bb9a5d;
        left: -140px;
        margin-top: 10px;
        height: 1px;
    }
}

.pack-experience-buttons{
    display: contents;
}
