.page-sidebar-accordion {
    margin-left: -45px;
    margin-right: -45px;
    margin-top: -15px;

    @include media-sm {
        margin-left: -30px;
        margin-right: 0;
    }

    @include media-md {
        margin-top: -29px;
        margin-left: -60px;
    }

    @include media-lg {
        margin-right: -60px;
    }
}

.page-sidebar-accordion__item {
    border-bottom: 1px solid #E8E8E8;
}

.page-sidebar-accordion__item__title > a,
.page-sidebar-accordion__item__body {
    @include media-sm {
        padding-left: 30px;
        padding-right: 30px;
    }

    @include media-md {
        padding-left: 60px;
    }

    @include media-lg {
        padding-right: 60px;
    }

    @include media-below-sm {
        padding-left: 45px;
        padding-right: 45px;
    }
}

.page-sidebar-accordion__item__title {
    margin: 0;
    font-size: 13px;
    line-height: 1.5;

    @include media-md {
        font-size: 19px;
    }

    > a {
        text-decoration: none;
        color: #ababab;
        position: relative;
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;

        @include media-md {
            padding-top: 29px;
            padding-bottom: 29px;
        }

        > .icon {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 12px;
            margin: auto 0;
            transition: transform 0.2s ease-in-out;
            font-size: 6px;

            @include media-md {
                font-size: 8px;
                right: 30px;
            }

            @include media-lg {
                right: 40px;
            }
        }

        &[aria-expanded=true] {
            color: $gray-dark;

            > .icon {
                transform: rotate(180deg);
            }
        }
    }
}

.page-sidebar-accordion__item__body {
    padding-bottom: 4em;
}

.page-sidebar-accordion__item__title > a > div,
.page-sidebar-accordion__item__body > div {
    @include media-sm {
        width: 200px;
    }

    @include media-md {
        width: 270px;
    }

    @include media-lg {
        width: 280px;
    }
}
