.page {
    position: relative;

    &:before {
        @include media-sm {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            background-color: $gray-lighter;
            right: 0;
            margin-left: 130px;
        }

        @include media-md {
            margin-left: 140px;
        }

        @include media-lg {
            margin-left: 230px;
        }
    }
}

.page__body,
.page__sidebar {
    padding: 60px 45px;

    @include media-sm {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    @include media-md {
        padding-top: 146px;
        padding-bottom: 146px;
    }
}

.page__body {
    @include media-sm {
        width: 420px;
        margin-left: auto;
        padding-left: 0;
        padding-right: 0;
        margin-right: -60px;
    }

    @include media-md {
        width: 530px;
        padding-left: 80px;
    }

    @include media-lg {
        width: 710px;
        padding-left: 140px;
        margin-right: -80px;
    }
}

.page__sidebar {
    background-color: $gray-lighter;

    @include media-sm {
        background-color: transparent;
        /*width: 230px;
        margin-left: 130px;
        padding-left: 30px;*/
        width: 360px; // 230 + 130
        padding-left: 160px; // 30 + 130
        padding-right: 0;
    }

    @include media-md {
        /*width: 330px;
        margin-left: 140px;
        padding-left: 60px;*/
        width: 470px; // 330 + 140
        padding-left: 200px; // 60 + 140
        font-size: 15px;
    }

    @include media-lg {
        /*width: 400px;
        margin-left: 230px;
        padding-right: 60px;*/
        width: 630px; // 400 + 230
        padding-left: 290px; // 60 + 230
        padding-right: 60px;
    }
}

.page__body__title {
    line-height: 1.469em;
    margin-top: -0.469em;
    margin-bottom: 1em;

    @include media-below-sm {
        margin-left: -20px;
    }

    @include media-md {
        margin-left: -80px;
    }
}

.page__body__description {
    margin-bottom: 2.8em;
}

.page__sidebar__label {
    margin-bottom: 2.6em;

    @include media-below-sm {
        margin-left: -20px;
    }

    .line-title {
        width: 18px;
        margin: 0 7px;
        position: absolute;
        top: 0;
        right: 100%;

        @include media-sm {
            width: 66px;
            margin: 0 16px;
        }

        @include media-md {
            width: 96px;
            margin: 0 22px;
        }
    }
}

.page__sidebar__title {
    margin-bottom: 1.2em;
}

.page__sidebar__description {
    margin-bottom: 1.8em;
}

.page__sidebar--accordion {
    width: 100%;

    @include media-sm {
        margin-right: -130px;
    }

    .page__sidebar__label {
        @include media-sm {
            width: 200px;
        }

        @include media-md {
            width: 270px;
        }

        @include media-lg {
            width: 280px;
        }
    }
}

