.promotion {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
    box-shadow: -15px 15px 50px rgba(0, 0, 0, 0.25);

    @include media-sm {
        max-width: 380px;
    }

    @include media-md {
        max-width: 560px;
    }

    .media-object {
        @include media-below-md {
            max-width: 120px;
        }

        @include media-below-sm {
            max-width: 100px;
        }
    }

    .media-body {
        overflow: visible;
        padding: 20px;

        @include media-md {
            padding: 35px;
        }
    }

    .close {
        margin: 16px;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 13px;
        opacity: 0.3;

        @include media-md {
            font-size: 15px;
            margin: 20px;
        }
    }

    .line-title {
        position: absolute;
        top: 0;
        right: 100%;

        @include media-md {
            width: 42px;
            margin: 0 16px;
        }
    }
}
