.room-value {
    margin-bottom: 2em;

    sup {
        font-size: 60%;
    }
}

.room-value__price {
    font-size: 25px;
    color: $brand-primary;
    vertical-align: middle;

    @include media-md {
        font-size: 35px;
    }
}

.room-value__old-price {
    font-size: 13px;
    color: #ababab;
    vertical-align: middle;
    margin-left: 14px;

    @include media-md {
        font-size: 23px;
    }
}

.room-value__btn {
    vertical-align: middle;
    margin-left: 14px;
    padding-top: 5px;
    padding-bottom: 5px;

    @include media-md {
        font-size: 12px;
        padding: 4px 18px;
        margin-left: 30px;
    }
}

.room-value__notes {
}
