.room-attributes {
    position: relative;
    background-color: #f3f3f3;

    @include media-sm{
        margin-top: -50px;
    }

    @include media-md{
        margin-top: -80px;
    }

    &:before {
        @include media-sm {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -90px;
            background-color: $gray-lighter;
            width: 50%;
        }

        @include media-md {
            left: -170px;
        }
    }
}

.room-attributes__content {
    @include media-sm {
        padding-left: 50%;
    }
}

$specifications-padding : 50px;
$specifications-padding-sm : 80px;
$specifications-padding-md : 130px;

.room-specifications,
.room-amenities {
    padding-top: $specifications-padding;
    padding-bottom: $specifications-padding;
    position: relative;

    @include media-sm {
        padding-top: $specifications-padding-sm;
        padding-bottom: $specifications-padding-sm;
    }

    @include media-md {
        padding-top: $specifications-padding-md;
        padding-bottom: $specifications-padding-md;
    }
}

.room-specifications {
    position: relative;

    @include media-sm {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 200px;
    }

    @include media-md {
        max-width: 250px;
    }

    @include media-lg {
        margin-left: 80px;
        max-width: 300px;
    }

    &:before {
        @include media-below-sm {
            position: absolute;
            content: "";
            display: block;
            left: -25px;
            right: -25px;
            top: 0;
            bottom: 0;
            background-color: $gray-lighter;
        }
    }
}

.room-specifications__list {
    color: #ababab;

    > dt {
        margin-bottom: 0.5em;
    }

    > dd {
        margin-bottom: 1.2em;
    }
}

.room-amenities__label {
    position: relative;
    margin-bottom: 3em;

    @include media-sm {
        right: 30px;
    }

    @include media-md {
        right: 68px;
    }

    .line-title {
        width: 18px;
        margin-right: 7px;
        position: absolute;
        top: 0;
        right: 100%;

        @include media-sm {
            width: 60px;
            margin-right: 16px;
        }

        @include media-md {
            width: 96px;
            margin-right: 22px;
        }
    }
}

.room-amenities__list {

    @include media-lg {
        column-count: 2;
    }
}

/*.rooms-and-suites-specifications__top {
    background-color: $gray-lighter;

    @include media-sm {
        background-color: transparent;
    }
}*/
