.services-list {
    @include list-unstyled;

    margin-bottom: 0;

    @include media-md {
        margin-left: 64px;
    }

    @include media-lg {
        margin-left: 0;
    }
}

.services-list__item {
    border-bottom: 1px solid #EAEAEA;
    padding: 22px 0;

    @include media-md {
        display: table;
        width: 100%;
        padding: 40px 0;
        border-bottom-width: 2px;
    }

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        @include media-below-md {
            border-bottom: 0;
        }
    }
}

.services-list__item__header,
.services-list__item__body {
    @include media-md {
        display: table-cell;
    }
}

.services-list__item__header {
    font-size: 13px;
    line-height: 1.4;

    @include media-sm {

    }

    @include media-md {
        font-size: 23px;
        width: 250px;
    }
}

.services-list__item__body {
    line-height: 1.667em;
    font-size: 12px;
    // ul{
    //     list-style: "\B7\A0";
    // }

    @include media-md {
        padding-left: 70px;
        font-size: 15px;
    }
}
