.submenu {
    background-color: #fff;
    border-bottom: 1px solid #F3F3F3;
    font-size: 12px;
    line-height: 1.2;
    display: block;

    @include media-md {
        font-size: 15px;
    }
}

.submenu--animate {
    transition: transform 0.3s ease-in-out;
}

.submenu--hidden.stuck {
    transform: translate(0, -100%);
    transform: translate3d(0, -100%, 0);
}

.submenu.stuck {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 900;
}

.submenu__content {
    display: table;
    width: 100%;
}

.submenu__col {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    position: relative;

    @include media-md {
        height: 80px;
    }

    + .submenu__col {
        border-left: 1px solid #F3F3F3;
    }
}

.submenu__title {
    display: block;
    width: 100px;
    padding: 0 14px;

    @include media-md {
        width: auto;
        white-space: nowrap;
        padding: 0 50px;
    }
}

.submenu__drag {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    padding: 0 20px;

    @include media-md {
        padding-left: 30px;
        padding-right: 30px;
    }

    .dragdealer {
        position: relative;

        > .handle {
            display: table;
            min-width: 100%;

        }
    }
}

.submenu__nav {
    @include list-unstyled;
    display: table;
    margin: 0 auto;
    position: relative;

    > li {
        display: inline-block;
        padding: 18px 6px;

        @include media-md {
            padding: 31px 12px;
        }
    }
}

.submenu__nav__link,
a.submenu__nav__link {
    display: inline;
    color: #ababab;
    text-decoration: none;
}

.submenu__nav > .active > .submenu__nav__link,
.submenu__nav > .active > a.submenu__nav__link {
    color: #494949;
}

.submenu__arrows {
    @include list-unstyled;
    @include clearfix;

    margin-bottom: 0;
    display: table;
    position: relative;

    &:before {
        content: "";
        display: block;
        width: 46px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        margin-right: 1px;
        background: linear-gradient(to right, transparent, #fff 100%);
    }

    > li {
        display: table-cell;

        + li {
            border-left: 1px solid #F3F3F3;
        }
    }
}
