.footer-info-content {
    padding-top: 60px;
    padding-bottom: 50px;

    @include media-sm {
        padding-bottom: 130px;
        margin-right: 330px;
    }

    @include media-md {
        padding-top: 100px;
        padding-bottom: 180px;
        margin-right: 430px;
    }

    @include media-lg {
        padding-top: 125px;
    }
}
