.footer-info {
    font-size: 11px;

    @include media-sm {
        padding-left: 36px;
    }

    @include media-md {
        font-size: 14px;
        line-height: 1.857em;
        padding-left: 50px;
    }

    @include media-lg {
        float: left;
        width: 33.333%;
    }

    + .footer-info {
        margin-top: 26px;

        @include media-md {
            margin-top: 50px;
        }

        @include media-lg {
            margin-top: 0;
        }
    }

    &,
    a {
        color: #565656;
    }
}

.footer-info__title {
    color: #9e9e9e;
    font-size: 12px;
    margin-bottom: 12px;

    @include media-md {
        font-size: 17px;
        margin-bottom: 24px;
    }

    .line-title {
        position: absolute;
        top: 0;
        right: 100%;

        @include media-sm {
            width: 22px;
            margin: 0 13px;
        }

        @include media-md {
            width: 35px;
            margin: 0 15px;
        }
    }
}

.footer-info__email {
    font-size: 12px;

    @include media-md {
        font-size: $font-size-base;
    }
}

.footer-info__phone {
    font-size: 15px;

    @include media-md {
        font-size: 16px;
    }

    > a {
        > span {
            color: #9e9e9e;
        }
    }
}
