.footer-quotes-slider {
    padding-top: 40px;
    padding-bottom: 20px;

    @include media-sm {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    @include media-md {
        padding-top: 125px;
        padding-bottom: 50px;
    }

    .slick-list {
        padding-left: 7px;
        margin-left: -7px;

        @include media-md {
            padding-left: 8px;
            margin-left: -8px;
        }
    }

    .slick-dots {
        margin-top: 26px;

        @include media-sm {
            margin-top: 30px;
        }

        @include media-md {
            margin-top: 90px;
        }

        > li {
            > button {
                text-indent: -9999px;
                background-color: #1D1D1D;
                width: 34px;
                height: 2px;
                margin: 0 3px;

                @include media-md {
                    width: 50px;
                    height: 3px;
                    margin: 0 5px;
                }
            }
        }

        > .slick-active {
            > button {
                background-color: #4A4A4A;
            }
        }
    }
}

.footer-quotes-slider__slide {
    font-size: 12px;
    line-height: 1.857em;
    color: #9e9e9e;
    padding-left: 28px;
    padding-right: 28px;

    @include media-md {
        font-size: 14px;
        padding-left: 46px;
        padding-right: 46px;
    }
}

.footer-quotes-slider__slide__title,
.footer-quotes-slider__slide__date {
    color: #565656;
}

.footer-quotes-slider__slide__title {
    font-size: 11px;

    @include media-md {
        font-size: 16px;
    }

    .line-title {
        position: absolute;
        top: 0;
        right: 100%;
        width: 22px;
        margin: 0 13px;

        @include media-md {
            margin: 0 18px;
            width: 35px;
        }
    }
}

.footer-quotes-slider__slide__date {
    font-size: 10px;

    @include media-md {
        font-size: 12px;
    }
}
