.footer-tripadvisor {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 50px;

    @include media-sm {
        bottom: 30px;
    }

    @include media-md {
        bottom: 46px;
        font-size: 68px;
    }

    &,
    a {
        color: #4A4A4A;
    }

    .icon {
        display: block;
    }
}
