.footer-quotes-content {
    background-color: #282828;

    @include media-sm {
        height: 1px;
        vertical-align: middle;
        width: 340px;
    }

    @include media-md {
        width: 440px;
    }
}
