.footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 12px;
    letter-spacing: 0.02em;

    @include media-md {
        font-size: 14px;
        letter-spacing: 0.04em;
        padding-top: 46px;
        padding-bottom: 46px;
    }

    &,
    a {
        color: #808080;
    }
}

.footer-bottom__list {
    @extend .list-unstyled;
    position: relative;
    margin-bottom: 20px;

    @include media-sm {
        float: left;
        margin-bottom: 0;
    }

    > li {
        display: inline;

        + li {
            &:before {
                content: "·\00a0";
                margin: 0 10px;

                @include media-md {
                    margin: 0 16px;
                }
            }
        }

        &:first-child {
            @include media-below-sm {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                margin-top: 5px;
            }

            + li {
                &:before {
                    @include media-below-sm {
                        display: none;
                    }
                }
            }
        }
    }
}

#scrollToTopBtn {
    background-color: #bb9a5d;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
    outline:none;

    position: fixed;
    right: 0;
    bottom: 0px;

    span{
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-transform: lowercase;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        line-height: 30px;
        margin-bottom: -20px;
        font-size: 12px;
        letter-spacing: 2px;
    }
}
