.footer-social {
    position: absolute;
    right: 0;
    margin-left: -4px;

    @include media-sm {
        margin-right: 50px;
        bottom: 30px;
    }

    @include media-md {
        margin-right: 76px;
        bottom: 46px;
    }

    > li {
        padding-left: 4px;
        padding-right: 4px;

        > a {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            font-family: "Raleway", sans-serif;
            letter-spacing: 0.07em;
            text-align: left;
            font-size: 14px;
            color: #565656;
            box-sizing: border-box;
            font-style: normal;
            line-height: inherit;

            @include media-md {
                font-size: 26px;
            }

            .icon {
                display: block;
            }
        }
    }
}
