.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-arrow-bottom {
  width: 1.34375em;
}

.icon-arrow-right {
  width: 1.34375em;
}

.icon-book-now {
  width: 1.34375em;
}

.icon-circle-bar {
  width: 1.34375em;
}

.icon-circle-children-space {
  width: 1.34375em;
}

.icon-circle-fridge {
  width: 1.34375em;
}

.icon-circle-gym {
  width: 1.34375em;
}

.icon-circle-kids-club {
  width: 1.34375em;
}

.icon-circle-kitchen {
  width: 1.34375em;
}

.icon-circle-living-room {
  width: 1.34375em;
}

.icon-circle-pool {
  width: 1.34375em;
}

.icon-circle-safe-box {
  width: 1.34375em;
}

.icon-circle-sound {
  width: 1.34375em;
}

.icon-circle-spa {
  width: 1.34375em;
}

.icon-circle-tv {
  width: 1.34375em;
}

.icon-circle-wifi {
  width: 1.34375em;
}

.icon-close {
  width: 1.34375em;
}

.icon-facebook {
  width: 1.34375em;
}

.icon-icon-recepcao-24h {
  width: 1.34375em;
}

.icon-instagram {
  width: 1.34375em;
}

.icon-location {
  width: 1.34375em;
}

.icon-logo-w {
  width: 1.09375em;
}

.icon-logo-well {
  width: 0.875em;
}

.icon-menu {
  width: 1.34375em;
}

.icon-more {
  width: 1.34375em;
}

.icon-pictures {
  width: 1.34375em;
}

.icon-slider-left {
  width: 1.34375em;
}

.icon-slider-right {
  width: 1.34375em;
}

.icon-tripadvisor {
  width: 1.34375em;
}

.icon-wifi {
  width: 1.34375em;
}
